.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

#m3u8-list {
    width: 80%;
}
.input-box .btn {
    width: 80%;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.logs {
    text-align: left;
    font-family:courier, courier new, serif;
    color: darkgreen;
    background-color: #ddd;
    padding: 3px;
    height: 60vh;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}